.Swixer .col_1 {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}


.Swixer .swixer_logo {
    width: 230px;
    margin: auto;
}
/* Swixer .container {
    margin-bottom: 90px;
    margin-top:90px;
} */


.Swixer .swixer_title {
    font-family: 'DINPro-Regular';
    font-size: 48px;
    opacity: 100%;
    text-transform: uppercase;
    color: #D7D7D7;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

.Swixer .swixer_sub_tag {
    font-family: 'DINPro-Regular';
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: #D7D7D7;
}
.Swixer .swixer_sub_tag span {
    font-family: 'DINPro-Regular';
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: #E5E5E5;
}
.Swixer .swixer_sub_tag a {
    font-family: 'DINPro-Regular';
    color:#4FAEE6;
}

/* Referal dashboard responsive section_1 css starts here */
@media only screen and (max-width: 768px) { 
    .Swixer .swixer_title {
        font-size: 26px;
    }
    .Swixer .swixer_sub_tag {
        font-size: 18px;
    }
    .Swixer .swixer_sub_tag span {
        font-size: 20px;
    }

}

/* Referal dashboard responsive section_1 css Ends here */
